@using Foundation.Server.Infrastructure
@model  Foundation.Server.Models.UserEmailViewModel

@{
    var config = AppConfig.Settings;
}

<div>
    <h2>@config.AppName Account Services</h2>
    <hr />
    <p>
        Welcome and thank you for joining @config.AppName . Your account details are below.
    </p>
    <ul>
        <li>UserId : @Model.UserId</li>
        <li>Email : @Model.UserEmail</li>
    </ul>
    <br />
    <br />
    <a href="@config.AppDomain"> <b>- @config.AppName Support</b></a>

</div>